    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="yelo">yelo - background colour is a variable for this grid</div>
            </div>
            <div class="col-sm-3">
                <div class="yelo">yelo - the second column</div>
            </div>
            <div class="col-sm-3">
                <div class="yelo">yelo</div>
            </div>
            <div class="col-sm-3">
                <div class="yelo">yelo</div>
            </div>
        </div>
    </div>
