<div class="grid-parent">
  <div class="grid-child_1">1</div>
  <div class="grid-child_2">2</div>
  <div class="grid-child_3">3</div>
  <div class="grid-child_4">4</div>
  <div class="grid-child_5">5</div>
  <div class="grid-child_6">6</div>
  <div class="grid-child_7">7</div>
  <div class="grid-child_8">8</div>
  <div class="grid-child_9">9</div>
  <div class="grid-child_10">10</div>
  <div class="grid-child_11">11</div>
  <div class="grid-child_12">12</div>
</div>