<div style="margin-top:50px;margin-bottom:50px;">
    STANDARD CONTAINER
</div>



<div class="container">
    <div class="container__row">
        <div class="container__col-sm-12">sm12</div>
        <div class="container__col-sm-12 container__col-md-6">sm12, md6</div>
        <div class="container__col-sm-12 container__col-md-6">sm12, md6</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
    </div>
</div>










<div style="margin-top:50px;margin-bottom:50px;">
    FLUID CONTAINER
</div>



<div class="container__fluid">
    <div class="container__row">
        <div class="container__col-sm-12">sm12</div>
        <div class="container__col-sm-12 container__col-md-6">sm12, md6</div>
        <div class="container__col-sm-12 container__col-md-6">sm12, md6</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-3">sm12, md3</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-2">sm12, md2</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
        <div class="container__col-sm-12 container__col-md-1">sm12, md1</div>
    </div>
</div>