<div class="wrapper">
    <div class="scssRow">
        <div class="column-6 left fc" style="justify-content:flex-end;align-items:flex-end;">
        <% include "./frogs.njk" %>
        </div>
        <div class="column-6 left fc" style="justify-content:flex-end;">
        <% include "./frogs.njk" %>
        </div>
    </div>
</div>